
.iceman{
    text-align: center;
    background-color: darkblue;
    color:aliceblue;
}

.beast{
   
    border: solid;
    border-color: black;
    background-color: lightgray;
    margin: 1em;
     
    
}

.cyclops {
    
        color: orange;
        font-size: 50px;
    
}

.jeangrey{
    background: url('record.png');
    background-repeat: repeat;
}

body {
    margin: 0;
    
}